In [5]:
import pandas as pd

In [6]:
#Import Deer VertNet Data
deer = pd.read_csv("https://de.cyverse.org/dl/d/126821C9-D23A-4B22-9B3F-25F19311066E/ODOVIRGCLEAN.csv")

#Import Mammal VertNet Data
mammal = pd.read_csv("https://de.cyverse.org/dl/d/338C987D-F776-4439-910F-3AD2CD1D06E2/mammals_no_bats_2019-03-13.csv")

IncompleteRead: IncompleteRead(1078705750 bytes read, 158848722 more expected)

In [ ]:
#Rearrange columns so that template columns are first, followed by measurement values

#Create column list
cols = deer.columns.tolist()
mammal.cols = mammal.columns.tolist()

#Specify desired columns
cols = ['catalognumber',
        'collectioncode',
        'decimallatitude',
        'decimallongitude',
        'eventdate',
        'institutioncode',
        'lifestage',
        'locality',
        'sex',
        'scientificname',
        '1st_body_mass',
        '1st_ear_length',
        '1st_hind_foot_length',
        '1st_tail_length',
        '1st_total_length']

mammal.cols = ['catalognumber',
        'collectioncode',
        'decimallatitude',
        'decimallongitude',
        'maximumelevation',
        'minimumelevation,'
        'eventdate',
        'institutioncode',
        'lifestage',
        'locality',
        'sex',
        'scientificname',
        'references',
        '1st_body_mass',
        '1st_ear_length',
        '1st_hind_foot_length',
        '1st_tail_length',
        '1st_total_length']

#Subset dataframe
deer = deer[cols]
mammal = mammal[mammal.cols]

In [4]:
#Matching template and column terms

#Renaming columns 
deer = deer.rename(columns = {'catalognumber':'catalogNumber', 
                            'collectioncode':'collectionCode',
                            'decimallatitude':'decimalLatitude',
                            'decimallongitude':'decimalLongitude',
                            'eventdate':'verbatimEventDate',
                            'institutioncode' :'institutionCode',
                            'lifestage':'lifeStage',
                            'locality':'verbatimLocality',
                            'scientificname':'scientificName'})

mammal = mammal.rename(columns = {'catalognumber': 'catalogNumber',
                                 'collectioncode':'collectionCode',
                                 'decimallatitude':'decimalLatitude',
                                 'decimallongitude':'decimalLongitude',
                                 'maximumelevation':'maximumElevationInMeters'
                                 'minimumelevation':'minimumElevationInMeters'
                                 'eventdate':'verbatimEventDate',
                                 'institutioncode' :'institutionCode',
                                 'lifestage':'lifeStage',
                                 'locality':'verbatimLocality',
                                 'scientificname':'scientificName'})

In [5]:
#Matching trait and ontology terms

#Renaming columns
deer = deer.rename(columns={'1st_body_mass':'body mass',
                            '1st_ear_length': 'ear length',
                            '1st_hind_foot_length':'hind foot length',
                            '1st_tail_length':'tail length',
                            '1st_total_length':'full body length'})

mammal = mammal.rename(columns={'1st_body_mass':'body mass',
                                '1st_ear_length': 'ear length',
                                '1st_hind_foot_length':'hind foot length',
                                '1st_tail_length':'tail length',
                                '1st_total_length':'full body length'})

,catalogNumber,collectionCode,decimalLatitude,decimalLongitude,verbatimEventDate,institutionCode,lifeStage,verbatimLocality,sex,scientificName,body mass,ear length,hind foot length,tail length,full body length
0,18192,Mammals,17.765560,-64.881668,8/3/72,TTU,NaN,CALIDONIA ESTATE,male,Odocoileus virginianus,9979.0,102.0,275.0,102.0,813.0
1,UAZ 24592,Mammals,31.392203,-110.702582,11/20/81,UAZ,NaN,"T23S, R16E, ~1 mi. NW Washington Camp on Duque...",female,Odocoileus virginianus,8500.0,120.0,225.0,147.0,835.0
2,18217,Mammals,18.000000,-64.666672,5/5/72,TTU,NaN,NaN,female,Odocoileus virginianus,9979.0,102.0,279.0,102.0,838.0
3,32127,Mammal specimens,46.247500,-123.412500,1979,UWBM,NaN,Columbian White-tailed Deer Refuge,male,Odocoileus virginianus,5100.0,90.0,300.0,140.0,850.0
4,50139,Mammals,NaN,NaN,2009,OMNH,Juvenile,NaN,female,Odocoileus virginianus,5880.0,100.0,285.0,150.0,858.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#create long version so that each trait has its own row

#creating long version, first specifiying keep variables, then naming variable and value
longVers=pd.melt(deer, 
                id_vars=['catalogNumber', 
                'collectionCode',
                'decimalLatitude',
                'decimalLongitude', 
                'verbatimEventDate', 
                'institutionCode',
                'lifeStage',
                'verbatimLocality',
                'sex',
                'scientificName'], 
        var_name = 'trait', 
        value_name = 'measurement')

longVersMammal=pd.melt(mammal,
                      id_vars=['catalogNumber',
                      'collectionCode',
                      'decimalLatitude',
                      'decimalLongitude',
                      'maximumElevationInMeters', 
                      'minimumElevationInMeters',
                      'verbatimEventDate',
                      'institutionCode',
                      'lifeStage',
                      'verbatimLocality',
                      'sex',
                      'scientificName',
                      'references'], 
                var_name = 'trait',
                value_name = 'measurement')


                                
#Writing long data csv file
longVers.to_csv('Deer_Data_Long.csv')
longVersMammal.to_csv('Mammal_Data_Long.csv')